
<div id="example1" class="slider-pro">
  <div class="sp-slides">
    <div class="sp-slide">
      <img class="sp-image" src="/images Kopie/pexels-cottonbro-studio-4503750.jpg"/>
       </div>
    <div class="sp-slide">
      <img class="sp-image" src="/images Kopie/pexels-cottonbro-studio-4503750.jpg"/>
    </div>
    <div class="sp-slide">
      <img class="sp-image" src="/images Kopie/pexels-cottonbro-studio-4503750.jpg"/>
    </div>
    <div class="sp-slide">
      <img class="sp-image" src="/images Kopie/pexels-cottonbro-studio-4503750.jpg"/>
    </div>
    <div class="sp-slide">
      <img class="sp-image" src="/images Kopie/pexels-cottonbro-studio-4503750.jpg"/>
    </div>
  </div>
  <div class="sp-thumbnails">
    <div class="sp-thumbnail">
      <div class="sp-thumbnail-title">Slide #1</div>
      <div class="sp-thumbnail-description">Dolor sit amet, consectetur adipiscing elit sed</div>
    </div>
    <div class="sp-thumbnail">
      <div class="sp-thumbnail-title">Slide #2</div>
      <div class="sp-thumbnail-description">Tempor incididunt ut labore et dolore magna aliqua</div>
    </div>
    <div class="sp-thumbnail">
      <div class="sp-thumbnail-title">Slide #3</div>
      <div class="sp-thumbnail-description">Ad minim veniam, quis nostrud exercitation</div>
    </div>
    <div class="sp-thumbnail">
      <div class="sp-thumbnail-title">Slide #4</div>
      <div class="sp-thumbnail-description">Nisi ut aliquip ex ea commodo consequat</div>
    </div>
    <div class="sp-thumbnail">
      <div class="sp-thumbnail-title">Slide #5</div>
      <div class="sp-thumbnail-description">Irure dolor in reprehenderit in voluptate velit</div>
    </div>
  </div>
</div>





{% schema %}
{
  "name": "Test Task 2",
  "class": "section section-featured-product",
  "blocks": [
  ],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.featured-product.settings.product.label"
    }
  ],
  "presets": [
    {
      "name": "Test Task 2"
    }
  ]
}
{% endschema %}
